.title {
  display: inline-block; 
  background-color: rgb(189, 100, 100);
  color: white;
  padding: 4px 8px;     
}

div{
    background-color: beige;
}
body{
    background-color: rgb(226, 193, 193);
}
h3{
    color: midnightblue;
    text-decoration: underline;
}
h2 {
  text-decoration: underline;
}
p {
  font-weight: bold;
}
